## Refactored Dataset

data/*
data/dmbn/*
!data/dmbn
!data/dmbn/refactor_dmbn.sh

## development Environment

.keras/
.nv/
.vscode/

# Notebook

**/.ipynb_checkpoints

## Python

**/__pycache__

## Tensorboard logs

**/log
**/runs

# Singularity Images

*.sif

## Saved models

NPVP_ckpts/

## Cache

.cache

## Purposefully untracked files

**_IGNR*

# Venv

venv-npvp/

## Hydra

outputs/